body {
    font-family: 'Edu TAS Beginner', sans-serif;
    margin: 0;
}

/* HEADER */

.myheader {
    background-image: url("../img/wall.png");
    background-size: cover;
    background-position: center;
}

.myheader h1 {
    font-size: 6rem;
    letter-spacing: 10px;
}

/* BACHECA */

.board {
    background-image: url("../img/cork.png");
    background-size: cover;
    background-position: center;
}

/* CARD */

.card-polaroid {
  background: white;
  padding: 15px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 6px 18px rgba(0,0,0,0.18);
}

.card-polaroid .pin {
  width: 22px;
  height: 22px;
  background-image: url("../img/pin.svg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: -11px;
  left: 50%;
}

.card-polaroid .photo {
  width: 100%;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
}

.caption {
  margin-top: 10px;
  font-family: 'Sometype Mono', monospace;
  font-size: 0.9rem;
}